body {
    color:black;
    background: aqua;
    font-family: "Playfair Display", serif;
    margin-bottom: 100px;
}
header{
    margin: 20px;
    font-size: 35px;
    color:blueviolet; 
}
img {
    height: 277px;
}

.categoria-videos img {
opacity: 0,3;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 4px solid purple;
}

.categoria h2 {
    color: blueviolet;
}